apiVersion: apps/v1
kind: {{ .Values.deploymentType }}
metadata:
  labels:
    k8s-app: {{ template "sitermdebugger.name" . }}
    helm-version: {{ .Chart.Version }}
    helm-app-version: {{ .Chart.AppVersion }}
  name: {{ template "sitermdebugger.name" . }}
  namespace: {{ .Values.namespace}}
spec:
  {{- if eq .Values.deploymentType "StatefulSet" }}
  serviceName: {{ template "sitermdebugger.name" . }}
  {{- end }}
  selector:
    matchLabels:
      k8s-app: {{ template "sitermdebugger.name" . }}
  template:
    metadata:
      labels:
        k8s-app: {{ template "sitermdebugger.name" . }}
        helm-version: {{ .Chart.Version }}
        helm-app-version: {{ .Chart.AppVersion }}
      {{- if .Values.annotations }}
      annotations:
        {{ .Values.annotations | toYaml | indent 8 }}
      {{- end }}
    spec:
      {{- if .Values.tolerations }}
      tolerations:
        {{ .Values.tolerations | toYaml | indent 8 | trim }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity:
        {{ .Values.affinity | toYaml | indent 8 | trim }}
      {{- end }}
      {{- if and .Values.nodeSelector (or (eq .Values.deploymentType "StatefulSet") (eq .Values.deploymentType "Deployment")) }}
      nodeSelector:
        {{ .Values.nodeSelector | toYaml | indent 8 | trim }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- if (include "sitermdebugger.logstorageEnabled" . | trim | eq "true") }}
      initContainers:
      - name: init-log-{{ template "sitermdebugger.name" . }}
        image: busybox
        command: ["sh", "-c", "mkdir -p /var/log/supervisor"]
        volumeMounts:
        - name: pvclog-{{ template "sitermdebugger.truncname" . }}
          mountPath: /var/log
      {{- end }}
      containers:
      - image: {{ template "defaultregistry" . }}/{{ template "deploymentimage" . }}
        imagePullPolicy: {{ template "deploymentpullpolicy" . }}
        name: {{ template "sitermdebugger.name" . }}
        resources:
          limits:
            cpu: {{ template "cpulimit" . }}
            memory: {{ template "memorylimit" . }}
          requests:
            cpu: {{ template "cpuRequest" . }}
            memory: {{ template "memoryRequest" . }}
        securityContext:
          {{- include "sitermdebugger.SecurityContext" . | nindent 10 }}
        {{- if .Values.liveness.enabled }}
        livenessProbe:
          exec:
            command:
            - siterm-liveness
          initialDelaySeconds: {{ .Values.liveness.initialDelaySeconds }}
          periodSeconds: {{ .Values.liveness.periodSeconds }}
          failureThreshold: {{ .Values.liveness.failureThreshold }}
          successThreshold: {{ .Values.liveness.successThreshold }}
          timeoutSeconds: {{ .Values.liveness.timeoutSeconds }}
        {{- end }}
        {{- if .Values.readiness.enabled }}
        readinessProbe:
          exec:
            command:
            - siterm-readiness
          initialDelaySeconds: {{ .Values.readiness.initialDelaySeconds }}
          periodSeconds: {{ .Values.readiness.periodSeconds }}
          failureThreshold: {{ .Values.readiness.failureThreshold }}
          successThreshold: {{ .Values.readiness.successThreshold }}
          timeoutSeconds: {{ .Values.readiness.timeoutSeconds }}
        {{- end }}
        volumeMounts:
        {{- if (include "sitermdebugger.logstorageEnabled" . | trim | eq "true") }}
        - mountPath: /var/log/
          name: pvclog-{{ template "sitermdebugger.truncname" . }}
        {{- end }}
        - mountPath: /etc/siterm.yaml
          name: conf-{{ template "sitermdebugger.truncname" . }}
          subPath: sense-siterm-agent.yaml
        - mountPath: /etc/secret-mount
          name: cert-{{ template "sitermdebugger.truncname" . }}
          readOnly: true
      hostNetwork: {{ include "hostnetwork" . | trim }}
      hostPID: {{ include "hostpid" . | trim }}
      restartPolicy: Always
      volumes:
        - name: cert-{{ template "sitermdebugger.truncname" . }}
          secret:
            secretName: cert-{{ template "sitermagent.truncname" . }}
        - configMap:
            defaultMode: 420
            items:
            - key: sense-siterm-agent
              path: sense-siterm-agent.yaml
            name: conf-{{ template "sitermdebugger.truncname" . }}
          name: conf-{{ template "sitermdebugger.truncname" . }}
        {{- if (include "sitermdebugger.logstorageEnabled" . | trim | eq "true") }}
        - name: pvclog-{{ template "sitermdebugger.truncname" . }}
          persistentVolumeClaim:
            claimName: {{ .Values.logstorage.volname | default (printf "pvclog-%s" (include "sitermdebugger.truncname" .)) }}
        {{- end }}
