apiVersion: apps/v1
kind: {{ .Values.deploymentType }}
metadata:
  labels:
    k8s-app: {{ template "sitermagent.name" . }}
    helm-version: {{ .Chart.Version }}
    helm-app-version: {{ .Chart.AppVersion }}
  name: {{ template "sitermagent.name" . }}
  namespace: {{ .Values.namespace}}
spec:
  {{- if eq .Values.deploymentType "StatefulSet" }}
  serviceName: {{ template "sitermagent.name" . }}
  {{- end }}
  selector:
    matchLabels:
      k8s-app: {{ template "sitermagent.name" . }}
  template:
    metadata:
      labels:
        k8s-app: {{ template "sitermagent.name" . }}
        helm-version: {{ .Chart.Version }}
        helm-app-version: {{ .Chart.AppVersion }}
    spec:
      {{- if .Values.tolerations }}
      tolerations:
        {{ .Values.tolerations | toYaml | indent 8 | trim }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity:
        {{ .Values.affinity | toYaml | indent 8 | trim }}
      {{- end }}
      {{- if and .Values.nodeSelector (or (eq .Values.deploymentType "StatefulSet") (eq .Values.deploymentType "Deployment")) }}
      nodeSelector:
        {{ .Values.nodeSelector | toYaml | indent 8 | trim }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- if .Values.logstorage.enabled }}
      initContainers:
      - name: init-log-{{ template "sitermagent.name" . }}
        image: busybox
        command: ["sh", "-c", "mkdir -p /var/log/supervisor"]
        volumeMounts:
        - name: pvclog-{{ template "sitermagent.truncname" . }}
          mountPath: /var/log
      {{- end }}
      containers:
      - image: {{ template "defaultregistry" . }}/{{ template "deploymentimage" . }}-{{ template "deploymentosrelease" . }}
        imagePullPolicy: {{ template "deploymentpullpolicy" . }}
        name: {{ template "sitermagent.name" . }}
        resources:
          limits:
            cpu: {{ template "cpulimit" . }}
            memory: {{ template "memorylimit" . }}
          requests:
            cpu: {{ template "cpuRequest" . }}
            memory: {{ template "memoryRequest" . }}
        securityContext:
          {{- include "sitermagent.SecurityContext" . | nindent 10 }}
        {{- if .Values.liveness.enabled }}
        livenessProbe:
          exec:
            command:
            - siterm-liveness
          initialDelaySeconds: {{ .Values.liveness.initialDelaySeconds }}
          periodSeconds: {{ .Values.liveness.periodSeconds }}
          failureThreshold: {{ .Values.liveness.failureThreshold }}
          successThreshold: {{ .Values.liveness.successThreshold }}
          timeoutSeconds: {{ .Values.liveness.timeoutSeconds }}
        {{- end }}
        {{- if .Values.readiness.enabled }}
        readinessProbe:
          exec:
            command:
            - siterm-readiness
          initialDelaySeconds: {{ .Values.readiness.initialDelaySeconds }}
          periodSeconds: {{ .Values.readiness.periodSeconds }}
          failureThreshold: {{ .Values.readiness.failureThreshold }}
          successThreshold: {{ .Values.readiness.successThreshold }}
          timeoutSeconds: {{ .Values.readiness.timeoutSeconds }}
        {{- end }}
        volumeMounts:
        {{- if (include "sitermagent.logstorageEnabled" . | trim | eq "true") }}
        - mountPath: /var/log/
          name: pvclog-{{ template "sitermagent.truncname" . }}
        {{- end }}
        - mountPath: /etc/siterm.yaml
          name: conf-{{ template "sitermagent.truncname" . }}
          subPath: sense-siterm-agent.yaml
        - mountPath: /etc/grid-security/hostcert.pem
          name: agent-hostcert
          readOnly: true
          subPath: hostcert.pem
        - mountPath: /etc/grid-security/hostkey.pem
          name: agent-hostkey
          readOnly: true
          subPath: hostkey.pem
        {{- if (include "sitermagent.rttablesEnabled" . | trim | eq "true") }}
        - mountPath: /etc/iproute2/rt_tables
          name: etc-iproute2
          readOnly: true
        {{- end }}
        {{- if (include "sitermagent.lldpEnabled" . | trim | eq "true") }}
        - mountPath: /run/lldpd/lldpd.socket
          name: lldpd-socket
          readOnly: true
        {{- end }}
      {{- if eq (include "sitermagent.deploydebuggerEnabled" . | trim) "true" }}
      - image: {{ template "defaultregistry" . }}/{{ template "deploymentimagedebug" . }}-el10
        imagePullPolicy: {{ template "deploymentpullpolicy" . }}
        name: siterm-debugger
        resources:
          limits:
            cpu: {{ template "cpulimitdebugger" . }}
            memory: {{ template "memorylimitdebugger" . }}
          requests:
            cpu: {{ template "cpuRequestdebugger" . }}
            memory: {{ template "memoryRequestdebugger" . }}
        {{- if .Values.liveness.enabled }}
        livenessProbe:
          exec:
            command:
            - siterm-liveness
          initialDelaySeconds: {{ .Values.liveness.initialDelaySeconds }}
          periodSeconds: {{ .Values.liveness.periodSeconds }}
          failureThreshold: {{ .Values.liveness.failureThreshold }}
          successThreshold: {{ .Values.liveness.successThreshold }}
          timeoutSeconds: {{ .Values.liveness.timeoutSeconds }}
        {{- end }}
        {{- if .Values.readiness.enabled }}
        readinessProbe:
          exec:
            command:
            - siterm-readiness
          initialDelaySeconds: {{ .Values.readiness.initialDelaySeconds }}
          periodSeconds: {{ .Values.readiness.periodSeconds }}
          failureThreshold: {{ .Values.readiness.failureThreshold }}
          successThreshold: {{ .Values.readiness.successThreshold }}
          timeoutSeconds: {{ .Values.readiness.timeoutSeconds }}
        {{- end }}
        volumeMounts:
        - mountPath: /etc/siterm.yaml
          name: conf-{{ template "sitermagent.truncname" . }}
          subPath: sense-siterm-agent.yaml
        - mountPath: /etc/grid-security/hostcert.pem
          name: agent-hostcert
          readOnly: true
          subPath: hostcert.pem
        - mountPath: /etc/grid-security/hostkey.pem
          name: agent-hostkey
          readOnly: true
          subPath: hostkey.pem
      {{- end }}
      hostNetwork: true
      hostPID: true
      restartPolicy: Always
      volumes:
        - name: agent-hostcert
          secret:
            defaultMode: 420
            items:
            - key: tls.crt
              path: hostcert.pem
            secretName: cert-{{ template "sitermagent.truncname" . }}
        - name: agent-hostkey
          secret:
            defaultMode: 384
            items:
            - key: tls.key
              path: hostkey.pem
            secretName: cert-{{ template "sitermagent.truncname" . }}
        - configMap:
            defaultMode: 420
            items:
            - key: sense-siterm-agent
              path: sense-siterm-agent.yaml
            name: conf-{{ template "sitermagent.truncname" . }}
          name: conf-{{ template "sitermagent.truncname" . }}
        {{- if (include "sitermagent.rttablesEnabled" . | trim | eq "true") }}
        - hostPath:
            path: {{ include "sitermagent.rttablesPath" . | quote }}
            type: File
          name: etc-iproute2
        {{- end }}
        {{- if (include "sitermagent.lldpEnabled" . | trim | eq "true") }}
        - hostPath:
            path: {{ include "sitermagent.lldpPath" . | quote }}
            type: Socket
          name: lldpd-socket
        {{- end }}
        {{- if (include "sitermagent.logstorageEnabled" . | trim | eq "true") }}
        - name: pvclog-{{ template "sitermagent.truncname" . }}
          persistentVolumeClaim:
            claimName: {{ .Values.logstorage.volname | default (printf "pvclog-%s" (include "sitermagent.truncname" .)) }}
        {{- end }}